In [1]:
import pandas as pd
import numpy as np

In [2]:
# gett file

batting_data = pd.read_csv("../Data/all_t20_wc_batting.csv")
batting_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8681 entries, 0 to 8680
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   VS                 8681 non-null   object
 1   Batting            8681 non-null   object
 2                      8681 non-null   object
 3   Batting Possition  8681 non-null   int64
 4   Match Id           8681 non-null   object
 5   Teaminnings        8681 non-null   object
 6   R                  8681 non-null   object
 7   B                  8681 non-null   object
 8   M                  8681 non-null   object
 9   4s                 8681 non-null   object
 10  6s                 8681 non-null   object
 11  SR                 8681 non-null   object
dtypes: int64(1), object(11)
memory usage: 814.0+ KB

In [3]:
batting_data.head()

,VS,Batting,,Batting Possition,Match Id,Teaminnings,R,B,M,4s,6s,SR
0,Australia VS West Indies,Roy Fredericks,hit wicket b Lillee,1,ODI # 33,West Indies,7,13,14,0,0,53.84
1,Australia VS West Indies,Gordon Greenidge,c †Marsh b Thomson,2,ODI # 33,West Indies,13,61,80,1,0,21.31
2,Australia VS West Indies,Alvin Kallicharran,c †Marsh b Gilmour,3,ODI # 33,West Indies,12,18,26,2,0,66.66
3,Australia VS West Indies,Rohan Kanhai,b Gilmour,4,ODI # 33,West Indies,55,105,156,8,0,52.38
4,Australia VS West Indies,Clive Lloyd (c),c †Marsh b Gilmour,5,ODI # 33,West Indies,102,85,108,12,2,120.00

In [4]:
# Conver the coloumn names more meaningfull

batting_data = batting_data.rename(columns={"Batting":"Player","R":"Runs","B":"Balls","M":"Mins","4s":"Fours","6s":"Sixs","SR":"Strike Rate"})

In [5]:
# here we can see that except Batting possition every data is object . In which some data are numaric.

# First step to do is . Convert numaric data to int data type. By using astype()

In [6]:
batting_data = batting_data.replace("-","0")
batting_data[["Batting Possition","Runs","Balls","Mins","Fours","Sixs","Strike Rate"]] = batting_data[["Batting Possition","Runs","Balls","Mins","Fours","Sixs","Strike Rate"]].astype("float")

In [7]:
batting_data.dtypes

VS                    object
Player                object
                      object
Batting Possition    float64
Match Id              object
Teaminnings           object
Runs                 float64
Balls                float64
Mins                 float64
Fours                float64
Sixs                 float64
Strike Rate          float64
dtype: object

In [8]:
batting_data.Player = batting_data.Player.apply(lambda x: x.strip(" † (c) Â â€ \xa0"))

In [9]:
batting_data.Player.head()

0        Roy Fredericks
1      Gordon Greenidge
2    Alvin Kallicharran
3          Rohan Kanhai
4           Clive Lloyd
Name: Player, dtype: object

In [10]:
batting_data.to_csv("./Data/pre_batting_data.csv",index=False)

,VS,Player,,Batting Possition,Match Id,Teaminnings,Runs,Balls,Mins,Fours,Sixs,Strike Rate
1996,India VS Sri Lanka,Kris Srikkanth,not out,1.0,ODI # 722,India,1.0,2.0,2.0,0.0,0.0,50.0
1997,India VS Sri Lanka,Kapil Dev,not out,2.0,ODI # 722,India,0.0,0.0,2.0,0.0,0.0,0.0